#time {
	font-size: 80px !important;
	font-weight: 100 !important;
	text-shadow: 2px 2px 3px black;
	text-align: center;
	color: white;
	position: relative;
	min-height: 105px;
	border-radius: 4px;
	overflow: hidden;
	
	&:before {
		content: "";
		width: 100%;
		height: 80px;
		position: absolute;
		left: 0;
		top: 0;
		background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 91%);
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 91%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 91%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	}

	.elapsed_time {
		padding-top: 25px;
		#elapsed_minutes, #elapsed_seconds {
		    line-height: 47px;
			&:after {
				font-size: 14px
			}
		}
		.divider {
			display: inline-block;
			line-height: 47px;
			vertical-align: top;
			margin-top: 0px;
			font-size: 75px;
		}
		#elapsed_minutes {
			display: inline-block;
			&:after {
				display: block;
				content: "sekunder";
				color: #999;
			}
		}
		#elapsed_seconds {
			display: inline-block;
			&:after {
				display: block;
				content: "minuter";
				color: #999;
			}
		}
	}
}

.ui-btn {
	color: white !important;
	border-radius: 4px !important;
	border: 1px solid #444 !important;
	background-color: transparent !important;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
	@include icons();
	content: "q" !important;
	background-image: none !important;
	background-color: transparent !important;
}