.float-left {
	float: left;
}

.float-right {
	float: right;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.list-unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.small {
    font-size: 12px;
	font-weight: 300;
	color: #999;
	margin: 0;
	margin-bottom: 10px;
}