@mixin icons() {
	font-family: "teamassistant" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin transition( $duration ) {
	-webkit-transition: all $duration ease-out;
	-moz-transition: all $duration ease-out;
	-o-transition: all $duration ease-out;
	transition: all $duration ease-out;
}