.ui-header {
	width: 100%;
	min-height: 40px;
	position: fixed;
	top: 0;
	border-color: $navbar-border-color !important;
	background-color: $navbar-background-color !important;
	
	#start & {
		.ui-title {
			font-family: 'Roboto Slab', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			speak: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-weight: 700;
			letter-spacing: 0.8px;
		    text-transform: uppercase;
			color: #DDD;
			//background-image: url(images/ta_cap_only_white.svg);
			//background-size: 50px;
			//background-repeat: no-repeat;
			//background-position: center center;
		}
	}
	
	.btn-navbar {
	    font-size: 16px !important;
	    font-weight: 100 !important;
	    color: $orange !important;
		padding: 0;
		padding-top: 7px !important;
		padding-left: 5px;
		border: none !important;
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		outline: none !important;
		span {
			display: none;
		}
		&:before {
			font-size: 35px;
		}
		&:hover, &:focus, &:active {
			background-color: transparent !important;
		}
	}
}