// Player

.player-card {
	
	a {
		display: inline-block;
		font-size: 19px;
        letter-spacing: 0.03em;
	    margin-bottom: 10px !important;
	    border-radius: 41px !important;
		border: 1px solid black !important;
		background-color: black !important;
		&:after {
			@include icons();
			content: "4" !important;
		}
	}

	.name-plate {
		display: inline-block;
		text-transform: uppercase;
		text-align: center;
		line-height: 50px;
		vertical-align: middle;
		width: 50px;
		height: 50px;
		margin-right: 10px;
		border-radius: 50%;
	}
	img {
		display: none;
		width: 50px;
		height: 50px;
		margin-right: 10px;
		border-radius: 50%;
		vertical-align: middle;
	}

	&.confirmed {
		a {
			-webkit-box-shadow: inset 0px 0px 0px 3px $green;
			-moz-box-shadow: inset 0px 0px 0px 3px $green;
			box-shadow: inset 0px 0px 0px 3px $green;
			
			.name-plate {
				background-color: $green !important;
			}
			
		}
	}
}

#players,
#playeronbench {
	
	.ui-btn {

	}
	li {
		&:nth-child(odd) {
			.name-plate {
				background-color: orange;
			}
		}
		&:nth-child(even) {
			.name-plate {
				background-color: $purple;
			}
		}
	}

	// Times
	.player-elapsed-time {
		display: inline-block;
		font-weight: 100;
		color: $orange;
		margin-left: 10px;
		padding: 5px 15px;
		border-radius: 4px;
		background-color: #111;
	}
	// Remove anim
	.removeAnim {
		height: 200px;
		
		@include transition(10s);
	}
}