#start {

}

#teamcompletebutton {
	text-align: center;
	.ui-btn {
	    display: inline-block;
	    width: 230px;
	    padding: 20px;
	    border-radius: 50px !important;
	    border-color: $green !important;
	    background: $green !important;
	    position: relative;

		&:before {
			@include icons();
			content: "h";
			font-size: 28px;
			color: white;
		    line-height: 60px;
		    width: 50px;
		    height: 100px;
		    background: rgba(0,0,0,0.4);
		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 20;
		}
		/*
		&:after {
			@include icons();
			content: "";
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.12);
			position: absolute;
			position: absolute;
			right: 6px;
			top: 4px;
			z-index: 10;
		}
		*/
	}
}

#startgame {
	text-align: center;
	.ui-btn {
	    display: inline-block;
	    width: 230px;
	    padding: 20px;
	    border-radius: 50px !important;
	    border-color: $green !important;
	    background: $green !important;
	    position: relative;

		&:before {
			@include icons();
			content: "5";
			font-size: 28px;
			color: white;
		    line-height: 60px;
		    width: 50px;
		    height: 100px;
		    background: rgba(0,0,0,0.4);
		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 20;
		}
	}
}

.player--cards {
	a {
		display: block;
		color: $black;
	}
	.player--card {
	    padding: 15px;
		margin-bottom: 5px;
		border-radius: 10px;
		background-color: white;
		position: relative;
		&:after {
			@include icons();
			content: "\q";
			font-size: 24px;
			color: $grey;
			margin-top: -10px;
			position: absolute;
			right: 20px;
			top: 50%;
		}
		.time--start {
			font-weight: 100;
		}
	}
	&.disable-links {
		a {
			pointer-events: none;
			cursor: default;
		}
	}
}

#lock-screen {
	display: none !important;
	text-align: center;
	color: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: $red;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 99;
	
	&:before {
		@include icons();
		font-size: 30px;
	    line-height: 75px;
		content: "\41";
	}
	
	&.active {
		background-color: $green;
		&:before {
			@include icons();
			font-size: 30px;
		    line-height: 75px;
			content: "\42";
		}
	}
}

#fixed-footer {
    border-top: 1px solid #222;
    background-color: #0F0F0F;
	-webkit-box-shadow: 0px 20px 32px 24px rgba(0,0,0,0.42);
	-moz-box-shadow: 0px 20px 32px 24px rgba(0,0,0,0.42);
	box-shadow: 0px 20px 32px 24px rgba(0,0,0,0.42);
	
	.ui-link {
		font-size: 10px;
		font-weight: 100;
		text-transform: uppercase;
		color: #999 !important;
		border: none !important;
		
		.btn-label {
			display: none;
		}
		
		&:before {
			@include icons();
			display: block;
			font-size: 27px;
			content: "7";
		}
		&.players-setup {
			&:before {
				content: "m";
			}
		}
		&.positions-setup {
			&:before {
				content: "";
			}
		}
		&.settings {
			&:before {
				content: "Q";
			}
		}
	}
}