.ui-content.timer-active {
	padding-top: 120px;
}

.overlay {
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.2);
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
	/*
    &:before {
		display: inline-block;
		@include icons();
		font-size: 30px;
	    line-height: 75px;
		text-align: center;
		content: "\41";
		color: white !important;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		z-index: 1020;
    }
    */
    button {
	    border: none !important;
        z-index: 1030;
    }
}

#swipe-unlock {
	display: inline-block;
    text-align: center;
    line-height: 70px;
    color: white;
    width: 100%;
    height: 70px;
    max-width: 80%;
    margin-left: -40%;
    border-radius: 50px;
    border: 1px solid #222;
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 1040;
}

#time-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

#time {
	font-family: 'Open Sans', 'Helvetica-Light','HelveticaNeue-Light', sans-serif;
	font-size: 98px !important;
	font-weight: 300 !important;
	text-shadow: 2px 2px 3px black;
	text-align: center;
	color: white;
	position: relative;
	min-height: 152px;
	height: 152px;
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -16px;
	margin-bottom: 15px;
	overflow: hidden;
    background: black;

	.elapsed_time {
		padding-top: 25px;
		#elapsed_minutes, #elapsed_seconds {
		    line-height: 47px;
			&:after {
				font-size: 14px
			}
		}
		.divider {
			display: inline-block;
			line-height: 70px;
		    color: #888;
			vertical-align: top;
			margin-top: 0px;
			font-size: 75px;
		}
		#elapsed_minutes {
			display: inline-block;
			&:after {
				display: block;
				content: "sekunder";
				color: #999;
			}
		}
		#elapsed_seconds {
			display: inline-block;
			&:after {
				display: block;
				content: "minuter";
				color: #999;
			}
		}
	}
}