$red: #e65959;
$green: #37c772;
$grey: #999;
$black: #333;
$purple: #704fd6;


$app-background-color: #111;
$navbar-color: #222;
$text-color: white;
$secondary-text-color: $grey;

// Panel
$navbar-background-color: #111;
$navbar-border-color: #111;