$red: #e65959;
$green: #37c772;
$grey: #999;
$black: #333;
$purple: #704fd6;
$orange: #FEBB00;


$app-background-color: #111;
$navbar-color: #222;
$text-color: white;
$secondary-text-color: $grey;

// Navbar
$navbar-background-color: black;
$navbar-border-color: $navbar-background-color;

// Panel
$panel-background-color: #111;