@import "scss/_icons",
"scss/_variables",
"scss/_mixins",
"scss/_animate",
"scss/_jqm-reset",
"scss/_helpers",
"scss/_navbar",
"scss/_panel",
"scss/_base",
"scss/_start",
"scss/_switch",
"scss/_settings",
"scss/_times",
"scss/_positions",
"scss/_players",
"scss/_addplayer",
"scss/_hack";

.app-version {
	font-size: 12px;
	color: $grey;
	padding: 0 0 20px 20px;
	position: absolute;
	bottom: 0;
}

.listview-seamless-btn {
	color: blue;
    padding: .7em 1em;
    margin-top: 3px;
    border-top: 1px solid #DDD;
	background-color: white;
	
	&:after {
		@include icons();
		font-size: 23px;
		line-height: 19px;		
		content: "3";
		float: right;
	}
}

// positions

.white-list {

	li {
		padding: .7em 1em !important;
		border-bottom: 1px solid #DDD !important;
		background-color: white;
		
		&:first-child {
			border: none !important;
			border-bottom: 1px solid #DDD !important;
		}
		
		&:last-of-type {
			border: none !important;
		}
	}
}

// add player

#selectable-positions {
	#positions-list {
		li {
			&.selected-position {
				&:after {
					@include icons();
					color: $green;
					content: "j";
					float: right;
				}
			}		
		}
	}

}

#switch, #addplayer {
	h1 {
		display: none;
	}
}

// Sortable
.sortable-chosen {
	border: 2px solid #DDD;
}

.sortable-ghost {
	/*
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.28);
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.28);
	*/
}

#teamcompletebutton {
	.ui-btn {
		background: #704fd6 !important;
		border-radius: 50px !important;
		border-color: #704fd6 !important;
		position: relative;
		&:before {
			@include icons();
			content: "h";
			font-size: 28px;
			color: $green;
			position: absolute;
			right: 9px;
			top: 8px;
			z-index: 20;
		}
		&:after {
			@include icons();
			content: "";
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.12);
			position: absolute;
			position: absolute;
			right: 6px;
			top: 4px;
			z-index: 10;
		}
	}
}

#startgame {
	.ui-btn {
		background: #704fd6 !important;
		border-radius: 50px !important;
		border-color: #704fd6 !important;
		position: relative;
		&:after {
			@include icons();
			content: "5";
			position: absolute;
		}
	}
}